/* GENERAL STYLES */

* {
	outline: none !important;
	box-sizing: border-box;
}


html, body {
	height: 100%;
	border: 0;
	margin: 0;
}

body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #4c4c4c;
}

body, h1 {
	margin: 0;
}

a {
	text-decoration: none;
}


.form {
	display: flex;
	justify-content: center;
}


.wrapper {
	min-height: 100vh;
}

/* Container for title, search bar and 'tell me what to read' link */
.main-container {
	padding-top: calc(50vh - 95.9px);
    margin-bottom: 50px;
}

/* Wikipedia Viewer heading */
.title {
	font-weight: 300;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 15px;
}

/* SEARCH BAR */
.fa {
	font-size: 20px;
}

.form-search {
	display: inline-block;
	flex-basis: 800px;
}

.form-search input {
	padding: 0;
	width: 100%;
	height: 80px;
	font-size: 20px;
	border: 1px solid #bebebe;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 20px;
}

/* Styles for input placeholder with support for different browsers */
.form-search input::-webkit-input-placeholder {
	font-family: 'Open-Sans', sans-serif;
	font-weight: 300;
	color: #a5a5a5;
	font-family: 'Montserrat', sans-serif;
}

.form-search input::-moz-placeholder {
	font-family: 'Open-Sans', sans-serif;
	font-weight: 300;
	color: #a5a5a5;
	font-family: 'Montserrat', sans-serif;
}

.form-search input::-ms-input-placeholder {
	font-family: 'Open-Sans', sans-serif;
	font-weight: 300;
	color: #a5a5a5;
	font-family: 'Montserrat', sans-serif;
}

.form-search input::-o-input-placeholder {
	font-family: 'Open-Sans', sans-serif;
	font-weight: 300;
	color: #a5a5a5;
	font-family: 'Montserrat', sans-serif;
}




/* Styles for search bar button */
.btn {
	border: 0;
	padding: 0;
	height: 80px;
	border-radius: 0 5px 5px 0;
	background: #EE3524;
    color: #FFF;
    flex-basis: 150px
}

.btn:hover {
	background: #cf2010;
	cursor: pointer;
}
/* Styles for "tell me what to read" text */

.main-container > a {
	display: table;
	position:relative;
    margin: 20px auto 0 auto;
}

.main-container > a:after {
	content: "";
	position: absolute;
	left: 0;
	width: 0;
	height: 2px;
	background: #EE3524;
	-webkit-transition: 1s ease;
  	transition: 1s ease;
}

.main-container > a:hover:after {
	width: 100%;
}


.main-container h2 {
    font-size: 1.5em;
    font-weight: 400;
    color: #4c4c4c;
    margin: 0;
}
